@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary:var(--background-dark);
    --background: #e0ecff;
    --foreground: #000;
    --background-dark: #051650;
    --foreground-dark: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}
